# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE and Editor settings
.vscode/
.idea/
*.swp
*.swo

# Project specific
reports/
*.json
*.csv

# Logs and databases
*.log
*.sqlite
*.db

# Tệp thực thi bên thứ ba
Codex Installer.exe

docs\bao_cao_do_an.md