# --- Giao diện & Hiển thị CLI ---
rich==15.0.0

# --- Phân tích cấu trúc PE nhị phân ---
pefile==2024.8.26

# --- Nhận diện mã độc bằng mẫu ký tự ---
yara-python==4.5.4

# --- Mã băm mờ (Fuzzy Hashing) ---
tlsh==0.2.0
